# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
Cookitos/nbproject/private/private.xml
Cookitos/Fichero_Configuracion.txt
Cookitos/nbproject/private/private.xml
Cookitos/nbproject/private/private.properties
# End of https://www.toptal.com/developers/gitignore/api/netbeans